target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__com_google_inject_guice_3_0.xml
.idea/libraries/Maven__com_lmax_disruptor_3_2_1.xml
.idea/libraries/Maven__com_pholser_junit_quickcheck_core_0_3.xml
.idea/libraries/Maven__com_pholser_junit_quickcheck_generators_0_3.xml
.idea/libraries/Maven__io_netty_netty_all_4_0_19_Final.xml
.idea/libraries/Maven__javassist_javassist_3_11_0_GA.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__ognl_ognl_3_0_5.xml
.idea/libraries/Maven__org_antlr_antlr_runtime_3_1_2.xml
.idea/libraries/Maven__org_fressian_fressian_0_6_5.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_all_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_javaruntype_javaruntype_1_2.xml
.idea/libraries/Maven__org_junit_contrib_junit_theories_4_11.xml
.idea/libraries/Maven__org_mapdb_mapdb_1_0_1.xml
.idea/workspace.xml
.idea/libraries/Maven__me_raynes_fs_1_4_5.xml
.idea/libraries/Maven__net_matlux_jvm_breakglass_0_0_6.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_4.xml
.idea/libraries/Maven__org_clojure_clojure_1_6_0.xml
.idea/libraries/Maven__org_clojure_tools_nrepl_0_2_3.xml
.idea/libraries/Maven__org_tukaani_xz_1_0.xml
.idea/replstate.xml
.idea/libraries